@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif; /* Set Poppins as the default font */
}

h1, h2, h3 {
    font-family: 'Sono', sans-serif; /* Specific use of Sono for headings */
}
.v-data-table__thead {
    background-color: #f2f3f6;
    /* border-left: 5px solid #5591f5; */
    /* border-left: 4px solid #cb0101af;  */

}
.v-data-table__tr {
    border-collapse: separate !important;
    border-spacing: 0 10px;
    /* border-left: 4px solid #fecd07;  */
    /* border-left: 5px solid #5591f5; */
    /* border-left: 4px solid #cb0101af;  */


    border-top: 8px solid white;

}
.v-data-table {
    margin-top: 2px;
    height: 100%;   
}
.v-table__wrapper {
    /* background-color: #5591f5; */
    border-collapse: separate;
    border-spacing: 0 10px;
    
}
.v-table > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    background-color: #fce7e7;
    /* border-left: 4px solid #fecd07;  */

}



button:hover
{
    box-shadow: 0 4px 15px #cb0101af;

}
.btn:hover
{
    box-shadow: 0 4px 15px rgba(32, 23, 201, 0.792);

}
div.v-data-table-footer
{
    color: #bf1313f3 !important;
    position: absolute;
    top: 69%;
    bottom: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.v-list-item__prepend
{
    width: 40px;
}